:root {
    --background-light: #c973ff;
    --text-light: #140021;
}

.light{
    header{
        background-color: var(--background-light);
        color: var(--text-light);
    }
    body{
        background-color: white;
        
        .mainBody {
            width: 50%; 
            margin: 0 auto;
            text-align: center;
            img{
                border: 10px outset var(--background-light);
                height: 50%;
                width: 50%;
            }
            img:hover{
                border: 20px outset lavender;
            }
        }
    }
}