
.light{
    header{
        background-color: lavender;
        color: var(--text-light);
    }
    body{
        background-color: white;
        
        .mainBody {
            width: 50%; 
            margin: 0 auto;
            text-align: center;
            img{
                border: 20px outset lavender;
                height: 50%;
                width: 50%;
            }
        }
    }
}